<div class="container">
  <div class="row">
    <div class="col">
      <app-map-form></app-map-form>
    </div>
    <div class="col">
       <app-imap></app-imap>
    </div>
  </div>
  <div>
    <app-map-roof-list></app-map-roof-list>
  </div>
  <div class="card deep-orange lighten-1 text-center z-depth-2">
    <div class="card-body">
      <p class="white-text mb-0">1. Please enter the first line of your address and your postcode.</p>
    </div>
  </div>
  <div class="card deep-orange lighten-1 text-center z-depth-2" *ngIf="">
    <div class="card-body">
      <p class="white-text mb-0">1. Please enter the first line of your address and your postcode.</p>
    </div>
  </div>
  <div class="card deep-orange lighten-1 text-center z-depth-2" *ngIf="">
    <div class="card-body">
      <p class="white-text mb-0">1. Please enter the first line of your address and your postcode.</p>
    </div>
  </div>
</div>
