<div class="card">
  <div class="card-body">
    <form [formGroup]="addressForm">
      <h4 class="card-header deep-orange lighten-1 white-text">Address</h4>
      <div class="md-form">
        <input mdbInputDirective type="text" id="line1" data-error="required" data-success=" " class="form-control" formControlName="line1">
        <label for="line1">Address line 1</label>
      </div>
      <div class="md-form">
        <input mdbInputDirective type="text" id="postcode" class="form-control" data-error="required" data-success=" " formControlName="postcode">
        <label for="postcode">Postcode</label>
      </div>
    </form>
    <button class="btn btn-deep-orange" (click)="submitForm()" [ngClass]="{'disabled': !addressForm.valid}" mdbWavesEffect>Submit</button>
  </div>
</div>
